/* app css stylesheet */

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li + li:before {
	content: "|";
	padding-right: 0.3em;
}

ul .box {
	display: none;
}

ul > h2:hover + .box {
	display: block;
}

.box {
	margin: 30px;
	border: 1px solid black;
	padding: 25px;
	width: 400px;
}

.warning {
	border-bottom: 3px solid darkred;
}

.major {
	border-bottom: 3px solid orange;
}
