<!--<div ng-controller="PostsCtrlAjax">-->
<!--<div class="list">-->
<!--<h2>-->
<!--Type: Critical ({{critical.length}})-->
<!--</h2>-->
<!--<ul>-->
<!--<li ng-repeat="wid in critical"-->
<!--ng-class="{'warning': wid.type == 'Critical', 'major': wid.type == 'Major'}" class="box">-->
<!--<p>-->
<!--{{wid.time}}-->
<!--</p>-->
<!--<h4>-->
<!--Name: {{wid.name}}-->
<!--</h4>-->
<!--<p>-->
<!--<span>info1: {{wid.info1}}</span>-->
<!--<span>info2: {{wid.info2}} <br></span>-->
<!--<span>info3: {{wid.info3}}</span>-->
<!--<span>info4: {{wid.info4}}<br></span>-->
<!--<span>info5: {{wid.info5}}<br></span>-->
<!--</p>-->
<!--<p>-->
<!--{{wid.timeCreated | time:wid.timeCreated}}-->
<!--</p>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div>-->
<!--<div class="list">-->
<!--<h2>-->
<!--Type: Major ({{major.length}})-->
<!--</h2>-->
<!--<ul>-->
<!--<li ng-repeat="wid in major"-->
<!--ng-class="{'warning': wid.type == 'Critical', 'major': wid.type == 'Major'}" class="box">-->
<!--<p>-->
<!--{{wid.time}}-->
<!--</p>-->
<!--<h4>-->
<!--Name: {{wid.name}}-->
<!--</h4>-->
<!--<p>-->
<!--<span>info1: {{wid.info1}}</span>-->
<!--<span>info2: {{wid.info2}} <br></span>-->
<!--<span>info3: {{wid.info3}}</span>-->
<!--<span>info4: {{wid.info4}}<br></span>-->
<!--<span>info5: {{wid.info5}}<br></span>-->
<!--</p>-->
<!--<p>-->
<!--{{wid.timeCreated | time:wid.timeCreated}}-->
<!--</p>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div ng-controller="PostsCtrlAjax">
    <div class="list" ng-repeat="widd in grouped">
        <div >
            <ul  ng-class="{'warning': widd[0].type == 'Critical', 'major': widd[0].type == 'Major'}">
                <h2>
                    Type: {{widd[0].type}} ({{widd.length}})
                </h2>
                <li ng-repeat="wid in widd"
                        class="box">
                    <p>
                        {{wid.time}}
                    </p>
                    <h4>
                        Name: {{wid.name}}
                    </h4>
                    <p>
                        <span>info1: {{wid.info1}}</span>
                        <span>info2: {{wid.info2}} <br></span>
                        <span>info3: {{wid.info3}}</span>
                        <span>info4: {{wid.info4}}<br></span>
                        <span>info5: {{wid.info5}}<br></span>
                    </p>
                    <p>
                        {{wid.timeCreated | time:wid.timeCreated}}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>